.homePage {
  display: flex;
  height: 100%;

  .textContainer {
    flex: 3;
    padding: 100px;


    .wrapper {
        padding-right: 100px;
        display: flex;
        flex-direction:column ;
        justify-content: center;
        gap: 50px;
        // background-color: beige;
        height: 100%;

        .title {
            font-size: 64 px;

        }
        .boxes{
            display: flex;
            justify-content: space-between;
        }
        h1{
            font-size: 36px;
        }
        h2{
            font-size: 20px;
            font-weight: 300;
        }
    }
  }

  .imgContainer {
    flex: 2;
    display: flex;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    // justify-content: center;

    img {
      width: 115%;
      position: absolute;
      right: 0;
    }
  }
}
